:root {
    --bdoc-lighter: #ffffff;
    --bdoc-darker: #100e2b;
    --bdoc-jumbotron-bg: #ddf4fc;
    --bdoc-text: #090d4d;
    --bdoc-btn: #24be6a;
    --bdoc-footer-bg: #000a6c;
    --bdoc-nav-bg: #0b114b;
}

nav {
    background-color: #0b114b;
}